---
layout: default
title: Ian Hu | Projects
permalink: /projects
navbar_highlight: Projects

#css:
#javascript: 
---
<div id = "project-wrapper">
	{% assign projects = site.project_collection | sort: 'order' %}
	{% for project in projects reversed %}
	<div class = "panel panel-default">
		<div class = "panel-heading clearfix">
			<div style="display:inline-block">
				<h4>{{ project.name }}</h4>
			</div>
			<div class = "project-links" style="display:inline-block">
				{% if project.github %}
				<a class="btn-social" target="_blank" href="{{ project.github }}">
					<i class = "fa fa-fw fa-github"></i>
				</a>
				{% endif %}
			</div>
		</div>
		<div class = "panel-body">
			<p class="lead">{{ project.lead }}</p>
			<hr/>
			<p>{{ project.description }}</p>
			{{ project.content }}
		</div>
	</div>
	{% endfor %}
</div>
