$light-border : 1px solid rgba(206, 206, 206, 0.5)
$footer-height : 120px
$magic-content-offset: 53px

html, body
	height: 100%
	
.fade-in
	visibility: hidden

.inline-block
	display: inline-block !important

#navbar-brand-img
	$navbar-brand-img-vertical-margin: -10px

	height: $navbar-height - 2 * ($navbar-padding-vertical + $navbar-brand-img-vertical-margin)
	margin-top: $navbar-brand-img-vertical-margin
	margin-bottom: $navbar-brand-img-vertical-margin

#content
	//due to accounted margin
	min-height: -webkit-calc(100% - #{$magic-content-offset} - #{$navbar-height} - #{$footer-height})
	min-height: -moz-calc(100% - #{$magic-content-offset} - #{$navbar-height} - #{$footer-height})
	min-height: calc(100% - #{$magic-content-offset} - #{$navbar-height} - #{$footer-height})

#contact-list
	text-align: center

#footer
	min-height: $footer-height
	width: 100%
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3)
	border-top: $light-border
	margin-top: 10px
	padding-top: 10px

.bigger-text
	font-size: 26px

.name-text
	font-size: 64px
	margin-top: 5px
	margin-bottom: 5px

.btn-social,
.btn-social:focus
	display: inline-block
	width: 50px
	height: 50px
	color: $gray
	border: 2px solid $gray
	border-radius: 100%
	text-align: center
	font-size: 20px
	line-height: 45px

.btn-social:hover,
.btn-social:active,
.btn-social.active 
	color: #fff
	background: $gray

iframe
	border: $light-border

#project-wrapper
	margin: 5px 20px

.project-links
	float: right

@media (min-width: $screen-lg-min)
	.bigger-text
		font-size: 30px

	.name-text
		font-size: 80px
